affine
amqp
appdirs
attrs
Cartopy
celery
cronex
Django
django-celery-beat
django-colorfield
django-cors-headers
django-import-export
django-material
djangorestframework
djangorestframework-simplejwt
geopandas
matplotlib
MetPy
opencv-python
pandas
psycopg2-binary
PyJWT
pyproj
python-memcached
python-slugify
pytz
rasterio
redis
requests
gunicorn
